*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 70px;
}

a{
    text-decoration: none;
    color:white;
}

.register{
    color: orange;
}
.register:hover {
    color:red;
}
.individual{
        width: 500px;
}
.card-body {
    background-color: white;
    border-radius: 15px;
    border: solid 2px orange;
    padding: 10px;
    display:flex;
    flex-direction: column;
}
.card{
    border-radius: 15px;
    width: 40%;
    margin: 2px;
}
hr{
    height: 2px;
    width: 75%;
    margin:auto;
    color:black;
}
.imagen{
    border-radius: 50%;
    max-width: 120px;
    border: 1px solid orange
}
header, footer{
    background-color: orange;
    color: white;
}


.title {
    padding: 15px;
}

body {
    background-color: rgb(255, 229, 180);
    color: rgb(230, 149, 0);
}

footer {
    min-height: 250px;
    margin-top: 50px;
}