<header class="d-flex align-items-center justify-content-between">
    <a href="/"><h1 class="title">Tu disqueria</h1></a>
    <div class="d-flex align-items-center">
        <!--<a href="/logout"><button class="btn btn-warning m-2">Logout</button></a>-->
    </div>
</header>