<header class="d-flex align-items-center justify-content-between">
    <a href="/"><h1 class="title">Tu disqueria</h1></a>
    <div class="d-flex align-items-center">
        {{#if session.log}}
            <h4 class="me-3">Welcome: {{session.first_name}}</h4>
            <a href="/logout"><button class="btn btn-warning m-2">Logout</button></a>
        {{else}}
            <a href="/login"><button class="btn btn-warning m-2">Login</button></a>
        {{/if}}
        <a href="/register"><button class="btn btn-warning m-2">Register</button></a>
    </div>
</header>