<h3 class="text-center m-3">Administrate</h3>
<div class="d-flex justify-content-center">
    <a href="/new-product"><button class="btn btn-warning m-2">Add new product</button></a>
    <a href="/view-tickets"><button class="btn btn-warning m-2">View Tickets</button></a>
    <a href=""><button class="btn btn-warning m-2">Stock</button></a>
</div>