<h2>Your Order: </h2>
{{#each cart}}
    <div class="" >
        <p>{{id_prod.title}} |Quantity: <span class="qty">{{quantity}}</span> | Price: <span class="price">{{id_prod.price}}</span> |Total: <span class="total"></span></p>
        <p>{{autor}}</p>
    </div>
{{/each}}