<div>
    <h3 class="text-center m-2">Load new product:</h3>
    <form action=""id="loadProduct"class="d-flex flex-column w-50 m-auto">
        <label for="title" class="mb-1">Title</label>
        <input type="text" name="title" required>
        <label for="autor" class="mb-1">Autor:</label>
        <input type="text" name="autor" required>
        <label for="year" class="mb-1">Year:</label>
        <input type="number" name="year" required>
        <label for="genere" class="mb-1">Genere:</label>
        <input type="text" name="genere" required>
        <label for="price" class="mb-1">Price:</label>
        <input type="number" name="price" required>
        <label for="stock" class="mb-1">Stock:</label>
        <input type="number" name="stock" required>
        <label for="code" class="mb-1">Code: ( genNameYear-Number )</label>
        <input type="text" name="code" required>
        <label for="thumbnail" class="btn btn-secondary mt-2 w-50 m-auto">Image: </label>
        <input type="file" id="thumbnail" name="thumbnail" accept=".jpg, .jpeg, .png" multiple="">
        <button class="btn btn-primary m-auto mt-3 w-50"type="submit">Load</button>
    </form>
</div>