<h2 class="text-center">Login:</h2>
<form action="" class="d-flex flex-column w-50 m-auto" id="formLogin">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <button type="submit" class="w-25 m-auto mt-3 btn btn-primary">Login!</button>
    <button type="button" class="w-25 mt-3 btn btn-primary m-auto"><a href="/api/sessions/github" class="m-auto">Login with github!</a></button>
</form>