<h3 class="text-center m-2">Stock adjust</h3>
{{#each products}}
    <div class="card-body m-2 ticket" >
        <div class="d-flex mb-3 justify-content-between">
            <div class="w-100 d-flex justify-content-between">
                <div class="d-flex justify-content-between w-50">
                    <h4>{{title}}</h4>
                    <h4>Stock: {{stock}}</h4>
                </div>
                <div class="d-flex justify-content-end">
                    <form action="" id="{{_id}}" class="formStock w-70">
                        <label for="new_stock">New Stock</label>
                        <input type="number" name="new_stock" class="w-20">
                        <button type="submit" class="btn btn-danger">Add Stock</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/each}}